@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background: #1d1d23;
}

#root {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}
h1 {
  color: #fff;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  font-weight: 700;
  margin: 22px;
}

.input-section {
  width: 750px;
  height: 120px;
  border-radius: 20px;
  background: #34344a;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

h3 {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 26px;
  font-weight: 400;
  margin-right: 38px;
}

.input-section > input {
  background-color: transparent;
  border: none;
  height: 52px;
  width: 72px;
  border-bottom: 4px solid #fff;
  margin-inline: 8px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  text-align: center;
  font-weight: 500;
}

#STbtn {
  width: 124px;
  height: 52px;
  flex-shrink: 0;
  border-radius: 26px;
  background: #f0f757;
  border: none;
  color: #34344a;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  margin-left: 38px;
}

.current-timers {
  width: 350px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 50px;
  background: #39393e;
  color: #ffffffaf;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  margin: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.timer{
  width: 750px;
  height: 120px;
  border-radius: 20px;
  background: #34344a;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin: 8px;
}

.time{

color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  margin-right: 8px;
}

.timerBtn{
  width: 65px;
  height:42px;
  flex-shrink: 0;
  border-radius: 26px;
  background: #f0f757;
  border: none;
  color: #34344a;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  text-align: center;
  margin: 0 8px;
}